rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // WILDCARD: read everything when authenticated
    match /{document=**} {
      allow read: if request.auth != null;
    }

    // POSTS
    match /posts/{postId} {
      allow read: if request.auth != null;
      allow write:
        if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    // STUDIOS
    match /studio_profiles/{studioId} {
      allow read: if request.auth != null;
      allow write:
        if request.auth != null && request.auth.uid == request.resource.data.userProfileId;
    }

    // USER PROFILES
    match /user_profiles/{userId} {
      allow read: if request.auth != null;
      allow write:
        if request.auth != null && request.auth.uid == userId;
    }

    // STORIES (collectionGroup)
    match /{path=**}/stories/{storyId} {
      allow read: if request.auth != null;
      allow write:
        if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    // PROJECTS
    match /projects/{projectId} {
       allow read: if request.auth != null;
       allow write:
         if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }

    // PORTFOLIO ITEMS
    match /user_profiles/{userId}/portfolio_items/{itemId} {
      allow read: if request.auth != null;
      allow write:
        if request.auth != null && request.auth.uid == userId;
    }
  }
}
