
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /user_profiles/{userProfileId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userProfileId;
    }

    match /user_profiles/{userProfileId}/portfolio_items/{portfolioItemId} {
      allow read, write: if request.auth.uid == userProfileId;
    }

    match /user_profiles/{userProfileId}/statuses/{statusId} {
        allow read: if request.auth != null;
        allow create: if request.auth.uid == userProfileId;
        allow update: if request.auth.uid == userProfileId || request.auth.uid in resource.data.viewers;
    }
    
    // This rule allows the collectionGroup query for the main story feed
    match /{path=**}/statuses/{statusId} {
      allow read: if request.auth != null;
    }

    match /posts/{postId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == request.resource.data.userId;
    }

    match /studio_profiles/{studioProfileId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == request.resource.data.userProfileId;
    }

    match /projects/{projectId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == request.resource.data.ownerId;
    }
  }
}
